<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>
    <title>Image | Silk-UI</title>
    <link rel="shortcut icon" type="x-icon" href="../imagess/favicon.ico">
    <meta name="description" content="Silk UI, a light weight UI component library to help you create trendy and modern looking websites quickly"/>
    <meta name="author" content="Madhuri"/>
    <link rel="stylesheet" href="../style/main.css"/>
    <link rel="stylesheet" href="../style/components.css">


</head>

<body>
    <nav class="nav-container">
        <div class="navbar">
            <div class="navbar-header">
              <img class="nav-logo" src="../imagess/nav-logo.png" alt="LoGO">
              <a href="/">SILK-UI</a>
            </div>
            <div class="navright">
                <ul class="navrightcontainer">
    
                    <a href="/SIlk_UI/index.html" target="_blank">
                        <button class="btn btn-secondary">
                            <i class="fas fa-home mr-2">  Home</i>
                        </button>
                    </a>
                  <a href="https://github.com/prachithakur23567" target="_blank">
                  <button class="btn btn-secondary" >
                    <i class="fab fa-github mr-2"></i> Github    
        
                  </button>
                </a>
        
                <a href="https://www.linkedin.com/in/imadhuri/" target="_blank">
                  <button class="btn btn-secondary">
                    <i class="fab fa-linkedin mr-2"></i> LinkedIn
                  </button>
                </a>
                </ul>
              </div>
             </div>
 </nav>

 <!-- main -->
<main  class="maincontent">
    <aside class="component-drawer"> 
        <div class="component-drawer-header py-3">Get Started</div>
    
        <ul>
            <li class="componentitem">
                <a
                  class="componentlink current-component"
                  href="/SIlk_UI/introduction.html"
                  >Introduction</a
                >
              </li>
              <li class="componentitem">
                <a class="componentlink" href="/SIlk_UI/installation.html">Installation</a>
              </li>
              </ul>
            </ul>
            <div class="component-drawer-header py-3">Components</div>
            <ul>
              <li class="componentitem">
                <a class="componentlink" href="alert.html">Alert</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="avatar.html">Avatar</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="badge.html">Badge</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="button.html">Button</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="card.html">Card</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="grid.html">Grid</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="image.html">Images</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="input.html">Input</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="list.html">Lists</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="modal.html">Modal</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="navigation.html"
                  >Navigation</a
                >
              </li>
              <li class="componentitem">
                <a class="componentlink" href="rating.html">Rating</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="text.html"
                  >Text Utilities</a
                >
              </li>
              <li class="componentitem">
                <a class="componentlink" href="table.html"
                  >Table</a
                >
              </li>
              <li class="componentitem">
                <a class="componentlink" href="navbar.html"
                  >Navbar</a
                >
              </li>
              
            </ul>

   
    </aside>
    <section class="sectioncontent">
        <div class="componentheading">
          <div class="h1" id="Images">
            <a href="#images">Image</a>
          </div>
        </div>
        <div class="componentdescription">
            Documentation and examples for opting images into responsive behavior (so they never become wider than their parent).
        </div>
        <div class="h2 mt-5" id="responsive_image">
          <a href="#responsive_image">
           Responsive Image
            </a>
        </div>
        <div class="regular"> 
            To make your image responsive, add "image-responsive" class to your image element. It will make your image responsive, will always take dimensions of your container and will adjust according to it.  
        </div>
        <div class="example-container flex-row">
            <img
              class="image-responsive"
              src="../imagess/responsive-image.jpg"
              alt="responsive-image"
            />
          </div>
          <div class="code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=yeti&wt=sharp&l=javascript&width=680&ds=false&dsyoff=100px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Fira+Code&fs=18px&lh=141%25&si=false&es=2x&wm=false&code=%253Cimg%250A%2520%2520class%253D%2522image-responsive%2522%250A%2520%2520src%253D%2522..%252Fassets%252Fresponsive-image.jpg%2522%250A%2520%2520alt%253D%2522responsive-image%2522%250A%252F%253E"
              style="
                width: 100%;
                height: 200px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="h2 mt-5" id="circular_image">
            <a href="#circular_image"> Circular Image</a>
          </div>
          <div class="regular">
            To make your responsive image circular add "image-round" class to it.
          </div>
          <div class="example-container flex-row">
            <img
              class="image-responsive image-round"
              src="../imagess/responsive-image.jpg"
              alt="responsive-image"
            />
          </div>
          <div class="code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=yeti&wt=sharp&l=javascript&width=680&ds=false&dsyoff=100px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Fira+Code&fs=18px&lh=141%25&si=false&es=2x&wm=false&code=%253Cimg%250A%2520%2520class%253D%2522image-responsive%2520image-round%2522%250A%2520%2520src%253D%2522..%252Fassets%252Fresponsive-image.jpg%2522%250A%2520%2520alt%253D%2522responsive-image%2522%250A%252F%253E"
              style="
                width: 100%;
                height: 200px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="h2 mt-5" id="images_with_different_sizes">
            <a href="#images_with_different_sizes"> Image With Different Size</a>
          </div>
          <div class="regular">
            You can also have different sizes for your responsive images. use
            "image-small", "image-medium", "image-large" to make them of a certain
            size that they can be contained with. You can use it with circular
            images as well.
          </div>
          <div class="example-container flex-row">
            <img
              class="image-responsive image-small"
              src="../imagess/responsive-image.jpg"
              alt="responsive-image"
            />
            <img
              class="image-responsive image-medium image-round"
              src="../imagess/responsive-image.jpg"
              alt="responsive-image"
            />
            <img
              class="image-responsive image-large"
              src="../imagess/responsive-image.jpg"
              alt="responsive-image"
            />
          </div>
          <div class="code-container">
            <iframe
              src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=yeti&wt=sharp&l=javascript&width=680&ds=false&dsyoff=100px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Fira+Code&fs=18px&lh=141%25&si=false&es=2x&wm=false&code=%253Cimg%250A%2520%2520class%253D%2522image-responsive%2520image-small%2522%250A%2520%2520src%253D%2522..%252Fassets%252Fresponsive-image.jpg%2522%250A%2520%2520alt%253D%2522responsive-image%2522%250A%252F%253E%250A%253Cimg%250A%2520%2520class%253D%2522image-responsive%2520image-medium%2520image-round%2522%250A%2520%2520src%253D%2522..%252Fassets%252Fresponsive-image.jpg%2522%250A%2520%2520alt%253D%2522responsive-image%2522%250A%252F%253E%250A%253Cimg%250A%2520%2520class%253D%2522image-responsive%2520image-large%2522%250A%2520%2520src%253D%2522..%252Fassets%252Fresponsive-image.jpg%2522%250A%2520%2520alt%253D%2522responsive-image%2522%250A%252F%253E"
              style="
                width: 100%;
                height: 438px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </section>
        <section class="list-of-contents">
          <span class="h3 mb-2 pb-2">On This Page</span>
          <ul class="contentlist">
            <li class="contentitem"><a href="#image">Image</a></li>
            <li class="contentitem">
              <a href="#responsive_image">Responsive Image</a>
            </li>
            <li class="contentitem">
              <a href="#circular_image">Circular Image</a>
            </li>
            <li class="contentitem">
              <a href="#images_with_different_sizes">Image With Different Size</a>
            </li>
          </ul>
        </section>
      </main>

         <!-- footer -->

  <footer class="footer">
    <p class="f-text">Made by Madhuri <br /></p>
    <div class="social">
        <a href="https://www.linkedin.com/in/imadhuri/" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/prachithakur23567" target="_blank">
            <i class="fab fa-github fa-2x"></i>
        </a>
        
        <a href="https://www.instagram.com/thesassyyclub_0830/" target="_blank"
        ><i class="fab fa-instagram fa-2x"></i
      ></a>
    </div>
   </footer>




    
</body>
</html>