<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"/>
    <title>Text Utilities | Silk-UI</title>
    <link rel="shortcut icon" type="x-icon" href="../imagess/favicon.ico">
    <meta name="description" content="Silk UI, a light weight UI component library to help you create trendy and modern looking websites quickly"/>
    <meta name="author" content="Madhuri"/>
    <link rel="stylesheet" href="../style/main.css"/>
    <link rel="stylesheet" href="/SIlk_UI/style/components.css">
</head>
<body>
    <nav class="nav-container">
        <div class="navbar">
            <div class="navbar-header">
              <img class="nav-logo" src="/SIlk_UI/imagess/nav-logo.png" alt="LoGO">
              <a href="/">SILK-UI</a>
            </div>
            <div class="navright">
                <ul class="navrightcontainer">
    
                    <a href="/SIlk_UI/index.html" target="_blank">
                        <button class="btn btn-secondary">
                            <i class="fas fa-home mr-2">  Home</i>
                        </button>
                    </a>
                  <a href="https://github.com/prachithakur23567" target="_blank">
                  <button class="btn btn-secondary" >
                    <i class="fab fa-github mr-2"></i> Github    
        
                  </button>
                </a>
        
                <a href="https://www.linkedin.com/in/imadhuri/" target="_blank">
                  <button class="btn btn-secondary">
                    <i class="fab fa-linkedin mr-2"></i> LinkedIn
                  </button>
                </a>
                </ul>
              </div>
             </div>
 </nav>

 <!-- main -->
<main  class="maincontent">
    <aside class="component-drawer"> 
        <div class="component-drawer-header py-3">Get Started</div>
    
        <ul>
            <li class="componentitem">
                <a
                  class="componentlink current-component"
                  href="/SIlk_UI/introduction.html"
                  >Introduction</a
                >
              </li>
              <li class="componentitem">
                <a class="componentlink" href="/SIlk_UI/installation.html">Installation</a>
              </li>
              </ul>
            </ul>
            <div class="component-drawer-header py-3">Components</div>
            <ul>
              <li class="componentitem">
                <a class="componentlink" href="alert.html">Alert</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="avatar.html">Avatar</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="badge.html">Badge</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="button.html">Button</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="card.html">Card</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="grid.html">Grid</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="image.html">Images</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="input.html">Input</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="list.html">Lists</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="modal.html">Modal</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="navigation.html"
                  >Navigation</a
                >
              </li>
              <li class="componentitem">
                <a class="componentlink" href="rating.html">Rating</a>
              </li>
              <li class="componentitem">
                <a class="componentlink" href="text.html"
                  >Text Utilities</a
                >
              </li>
              <li class="componentitem">
                <a class="componentlink" href="table.html"
                  >Table</a
                >
              </li>
              <li class="componentitem">
                <a class="componentlink" href="navbar.html"
                  >Navbar</a
                >
              </li>
              
            </ul>

   
    </aside>
    <section class="sectioncontent">
        <div class="componentheading">
          <div class="h1" id="text_utilities">
            <a href="#text_utilities">Text Utilities</a>
          </div>
        </div>
        <div class="componentdescription">
            Typography is the art and technique of arranging type to make written
          language legible, readable and appealing when displayed.
        </div>
        <div class="h2 mt-5" id="heading_text">
          <a href="#heading_text">Heading Text</a>
        </div>
        <div class="regular">
          Silk UI provide 5 different types of heading text. From h1 to h5. h1
          being the largest and h4 being the smallest with decreasinf
          font=weight
        </div>
        <div class="example-container flex-col">
          <p class="h1">Heading-1</p>
          <p class="h2">Heading-2</p>
          <p class="h3">Heading-3</p>
          <p class="h4">Heading-4</p>
          <p class="h5">Heading-5</p>
        </div>
        <div class="code-container">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=yeti&wt=sharp&l=javascript&width=680&ds=false&dsyoff=100px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Fira+Code&fs=16.5px&lh=120%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522h1%2522%253EHeading-1%253C%252Fp%253E%250A%253Cp%2520class%253D%2522h2%2522%253EHeading-2%253C%252Fp%253E%250A%253Cp%2520class%253D%2522h3%2522%253EHeading-3%253C%252Fp%253E%250A%253Cp%2520class%253D%2522h4%2522%253EHeading-4%253C%252Fp%253E%250A%253Cp%2520class%253D%2522h5%2522%253EHeading-5%253C%252Fp%253E"
            style="
              width: 100%;
              height: 173px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
        <div class="h2 mt-5" id="normal_text">
          <a href="#normal_text">Simple Text</a>
        </div>
        <div class="regular">
          Silk UI provide 5 different types of simple text. From text-xxl to
          text-s. text-xxl being the largest and text-s being the smallest with
          decreasing font weight
        </div>
        <div class="example-container flex-col">
          <p class="text-xxl">Text-XXL</p>
          <p class="text-xl">Text-XL</p>
          <p class="text-l">Text-L</p>
          <p class="text-m">Text-M</p>
          <p class="text-s">Text-S</p>
        </div>

        <div class="code-container">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=yeti&wt=sharp&l=javascript&width=680&ds=false&dsyoff=100px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Fira+Code&fs=16.5px&lh=120%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text-xxl%2522%253EText-XXL%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-xl%2522%253EText-XL%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-l%2522%253EText-L%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-m%2522%253EText-M%253C%252Fp%253E%250A%253Cp%2520class%253D%2522text-s%2522%253EText-S%253C%252Fp%253E"
            style="
              width: 100%;
              height: 173px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
        <div class="h2 mt-5" id="grey_text">
          <a href="#grey_text">Grey Text</a>
        </div>
        <div class="regular">
          To make your regular text grey, use "text-grey"
        </div>
        <div class="example-container flex-col">
          <p class="text-xl text-grey">This Is A Grey Text</p>
        </div>
        <div class="code-container">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=yeti&wt=sharp&l=javascript&width=680&ds=false&dsyoff=100px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Fira+Code&fs=18px&lh=141%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text-xl%2520text-grey%2522%253EThis%2520Is%2520A%2520Grey%2520Text%253C%252Fp%253E%250A"
            style="
              width: 100%;
              height: 108px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
        <div class="h2 mt-5" id="centered_text">
          <a href="#centered_text">Centered Text</a>
        </div>
        <div class="regular">
          To make your regular text centered to the container, use
          "text-centered"
        </div>
        <div class="example-container flex-col">
          <p class="text-xl text-centered">This Is A Centered Text</p>
        </div>
        <div class="code-container">
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2874%2C144%2C226%2C1%29&t=yeti&wt=sharp&l=javascript&width=680&ds=false&dsyoff=100px&dsblur=0px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Fira+Code&fs=18px&lh=141%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522text-xl%2520text-centered%2522%253EThis%2520Is%2520A%2520Centered%2520Text%253C%252Fp%253E%250A"
            style="
              width: 100%;
              height: 108px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            "
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
      </section>
      <section class="list-of-contents">
        <span class="h3 mb-2 pb-2">On This Page</span>
        <ul class="contentlist">
          <li class="contentitem">
            <a href="#text_utilities">Text Utilities</a>
          </li>
          <li class="contentitem">
            <a href="#heading_text">Heading Text</a>
          </li>
          <li class="contentitem">
            <a href="#normal_text">Normal Text</a>
          </li>
          <li class="contentitem">
            <a href="#grey_text">Grey Text</a>
          </li>
          <li class="contentitem">
            <a href="#centered_text">Centered Text</a>
          </li>
        </ul>
      </section>
    </main>
 
       <!-- footer -->

  <footer class="footer">
    <p class="f-text">Made by Madhuri <br /></p>
    <div class="social">
        <a href="https://www.linkedin.com/in/imadhuri/" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/prachithakur23567" target="_blank">
            <i class="fab fa-github fa-2x"></i>
        </a>
        
        <a href="https://www.instagram.com/thesassyyclub_0830/" target="_blank"
        ><i class="fab fa-instagram fa-2x"></i
      ></a>
    </div>
   </footer>



    
</body>
</html>